* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    min-height: 100vh;
    background: #150019;
    /* overflow: hidden; */
}

section {
    position: fixed;
    height: 100vh;
}

section span {
    position: absolute;
    pointer-events: none;
    background: #fff;
    animation: bganimate 5s linear infinite;
}

@keyframes bganimate {
    0% {
        transform: scale(0) translateY(0) rotate(0deg);
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: scale(1) translateY(-500%) rotate(360deg);
        opacity: 0;
    }
}

.navigation {
    position: fixed;
    width: 60px;
    height: 100%;
    background: #3e0748;
    transition: 0.5s;
    overflow: hidden;
    z-index: 4;
}

.navigation.active {
    width: 300px;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li,
.samllmenu ul li {
    position: relative;
    width: 100%;
    list-style: none;
}

.navigation ul li:hover,
.samllmenu ul li:hover {
    background: #ea1d63;
}

.navigation ul li a,
.samllmenu ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
    /* border: 1px solid #fff; */
}

.navigation ul li a .icon,
.samllmenu ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.navigation ul li a .icon .fa,
.samllmenu ul li a .icon .fa {
    font-size: 24px;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    width: 180px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
    text-transform: uppercase;
    letter-spacing: 2px;
    /* border: 1px solid blue; */
}

.navigation ul li a .arrow {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 60px;
    height: 60px;
    /* border: 1px solid blue; */
}

.navigation ul li a .arrow.active {
    transform: rotate(180deg);
}

.toggle {
    position: fixed;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background: #3e0748;
    cursor: pointer;
    z-index: 4;
}

.toggle.active {
    background: #ea1d63;
}

.toggle::before {
    content: '\f0c9';
    font-family: fontAwesome;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 60px;
    text-align: center;
    font-size: 24px;
    color: #fff;
}

.toggle.active::before {
    content: '\f00d';
}

.samllmenu {
    position: absolute;
    top: 60px;
    right: 0;
    width: 60px;
    height: auto;
    background: #3e0748;
    margin-top: 1px;
    border-radius: 5px;
    opacity: 0;
}

.samllmenu.active {
    opacity: 0;
}

.navigation ul ul {
    position: static;
    /* display: flex; */
    width: 100%;
    background: #28042e;
    display: none;
}

.navigation ul ul.active {
    display: block;
}

.navigation ul li ul li {
    display: block;
    width: 100%;
    height: 50px;
    list-style: none;
    background: #28042e;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.navigation ul li ul li:hover {
    background: #7a0a55;
    transform: translateY(1px);
}

.navigation ul li ul li a {
    position: relative;
    display: block;
    padding-left: 70px;
}

.navigation ul li ul li a span {
    position: relative;
    display: block;
    /* padding: 0 10px; */
    height: 50px;
    line-height: 50px;
    text-align: start;
    white-space: nowrap;
}

@media (max-width:767px) {
    .navigation {
        left: -60px;
    }
    .navigation.active {
        width: 0;
    }
    .samllmenu.active {
        opacity: 1;
    }
}

content {
    position: relative;
    z-index: 3;
}

content .box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

content .box h2 {
    color: rgb(11, 240, 221);
    font-size: 2.5em;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: start;
}

content .box form {
    position: relative;
}

content .box form input[type='text'] {
    width: 300px;
    height: 40px;
    font-size: 1.2em;
    color: #1983e6;
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 10px 15px;
    background: #f1f1f1;
    outline: none;
}

content .box form input[type='text']:focus {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .5);
}

content .box form button {
    position: absolute;
    /* right: 5px; */
    width: 40px;
    height: 40px;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background: #f1f1f1;
    color: #2a4eec;
    outline: none;
}

content .box form button i {
    width: 30px;
    height: 30px;
    font-size: 1.2em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

content .box form button:hover i {
    transform: scale(1.05);
    cursor: pointer;
}

content .banner {
    position: relative;
    height: 100vh;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

content .banner video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.1;
    pointer-events: none;
}

content .banner::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 400px;
    height: 100%;
    background: rgba(0, 0, 0, .5);
}

content .banner .textBox {
    position: relative;
    width: 750px;
    z-index: 2;
}

content .banner .textBox h2 {
    color: #fff;
    font-size: 3em;
    font-weight: 600;
    margin-bottom: 20px;
}

content .banner .textBox p {
    color: #fff;
    font-size: 1.1em;
    margin-bottom: 20px;
}

content .banner .textBox a {
    color: #111;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    background: #fff;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
}

content .banner .videoBx {
    position: relative;
    background: #fff;
    margin-top: 20px;
    margin-left: 40px;
    width: 70%;
    height: 400px;
    z-index: 2;
}

content .banner .videoBx video {
    opacity: 1;
}

content .banner .sci {
    position: absolute;
    bottom: 30px;
    /* letter-spacing: 100px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

content .banner .sci li {
    list-style: none;
}

content .banner .sci li a {
    display: inline-block;
    margin-right: 55px;
}

content .banner .sci li a i {
    transform: scale(1.5);
    /* filter: invert(1); */
    color: #fff;
}

@media (max-width:991px) {
    content .banner {
        padding: 150px 50px 0 100px;
        flex-direction: column;
    }
    content .banner::before {
        display: none;
    }
    content .banner .textBox {
        width: 100%;
    }
    content .banner .textBox h2 {
        font-size: 2.5em;
    }
    content .banner .videoBx {
        width: 100%;
        height: 200px;
        margin-left: 0;
        margin-bottom: 20px;
    }
    content .banner .sci {
        position: relative;
        margin-top: 30px;
        transform: scale(.9);
    }
}